html {
    position: relative;
    min-height: 100%;
}


.navbar{
    background-color: #2C3333;
}

.bg-primary {
    background-color: #2C3333;
}

.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.97rem;
    line-height: inherit;
    white-space: nowrap
}

.navbar-nav {
    font-size: 22px;
}

.navbar-nav .nav-link:hover {
    border: 2px solid black;
    border-radius: 20px;
    background-color: #2E4F4F;
}

.navbar-brand:hover {
    border: 2px solid black;
    border-radius: 20px;
    background-color: #2E4F4F;
}
.row{
    padding-bottom: 28px;
}

.box-element {
    box-shadow: hsl(0,0%, 80%) 0 0 16px;
    background-color: #fff;
    border-radius: 4px;
    padding:10px;
}

.picnail {
    width: 100%;
    vertical-align: middle;
    border-style: none;
    height: 230px;
    border:2px solid black;
}






.product{
    border-radius: 0 0 4px 4px;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.article-title {
    color: #444444;
}

a.article-title:hover {
    color: #428bca;
    text-decoration: none;
}

.article-content {
    white-space: pre-line;
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}

.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}



/* 
footer {
    position: absolute;
    bottom: 0;
    width: 100%
}

footer h4 {
    color: #333;
}

footer p {
    color: #777;
}

footer a {
    color: #0d6efd;
}

footer a:hover {
    color: #007bff;
}

footer hr {
    border-top-color: #ccc;
}

footer p.text-center {
    font-size: 14px;
    color: #888;
    margin-top: 20px;
} */
